@use '@styles/abstracts' as *
  
.main-header
  text-decoration: none
  color: black

  header
    +bg-c($primary-color)
    padding: 12px 46px

    h1
      color: $secondary-color
    
    h2
      font-size: 16px