@use '@styles/abstracts' as *

.home
  +pos-trbl(absolute, 0, 0, 0, 0)

  header
    +bg-c($primary-color)
    padding: 12px 46px

    h1
      color: $secondary-color
  
  main
    height: 100%
    padding: 12px 46px