@use '@styles/abstracts' as *
  
.movie-list
  +mb(20px)

  & > header
    +mb(12px)
    display: flex

    h3
      +mr(12px)
      background-color: rgba(250,140,3,0.95)
      border-radius: 8px
      padding: 0px 8px
      color: black

  ul
    display: flex
    overflow-x: scroll

.sort-icon
  +mr(12px)
  position: relative
  cursor: pointer
  top: 3px
  color: rgba(250,140,3,0.95)

.sort-up-icon svg
  position: relative
  top: 3px

.sort-down-icon svg
  position: relative
  top: -3px