@use '@styles/abstracts' as *

// 
  
.movie-list-item
  +relative
  +mr(20px)
  +mb(20px)
  +max-w(185px)
  +min-h(350px)
  border-radius: 8px
  cursor: pointer
  background-color: #1a1a1a

  a
    +f-y
    border-radius: inherit
    color: $main-font-color
    text-decoration: none

    span
      +ml(12px)

  img
    +mb(6px)
    +max-w(none)
    border-radius: inherit

  span:nth-child(4)
    color: rgba(232, 230, 227, 0.6)

.is-loading
  +f-y
  +min-hw(350px, 150px)
  justify-content: center
  cursor: auto


.spinner
  align-self: center

.heart-btn
  +pos-tr(absolute, 6px, 15px)
  font-size: 28px
  color: hsl(339, 88%, 72%)
  opacity: 0.5

  &:hover
    opacity: 1